body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
  background-color:white;font-color:black;width:70%;height:300px;border-radius:25px;align-items:center;color:black;margin: auto;
		padding-top: 10px; text-align: center}


