body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
  background-color:white;font-color:black;width:400px;height:300px;border-raduis:25px;align-items:center;color:black;margin: auto; margin-top: 20px;
		padding-top: 30px}


