body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
  background-color:white;font-color:black;width:800px;height:300px;border-radius:25px;color:black;padding: 20px; text-align: center; margin: auto;}


